.forecast {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.container a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}
