.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home h1 {
  color: white;
  font-weight: 200;
  font-size: 48px;
}
